@using Entity
@model Category
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CreateCategory", "AdminArticle", FormMethod.Post, new { @class = "form", @enctype = "multipart/form-data" }))
{ 
    <br />
    <a href="/AdminArticle/Category"><h4> Kategorileri Görüntüle</h4></a>

    <div class="container">
      <div class="alert alert-success " style="width:750px;">@ViewBag.a</div>
        <hr />
        <div class="form-group">
            <div class="col-md-8" >
                @Html.TextBox("Category",null, new { @placeholder = "Kategori Adı", @class = "form-control",@required= "required" })
            </div>

        </div>
        <br /><br />
        <div class="form-group">
            <div class="col-md-8">
                <h6>Resim Seç</h6>
                @Html.TextBox("Image",null, new
           {
               @type = "file",
               @required = "required"

           })
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <div class="col-md-8">
                <input type="submit" class="btn btn-success" value="Kaydet" style="margin-top:10px;margin-bottom:10px"/>
            </div>
        </div>
    </div>
}

 