/*

Template:  
Author: 
Version: 1
Design and Developed by: 

Note: This is Short code style file. All Short code related style included in this file. 

*/

@import url("default.css");
@import url("header.css");
@import url("slider.css");
@import url("post.css");
@import url("post-sidebar.css");
@import url("instagram.css");
@import url("brand.css");
@import url("footer.css");
@import url("category.css");
@import url("standard.css");
@import url("about.css");
@import url("contact.css");