 <div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="post-blog-area lifestyle-area">
                <div class="single-post-item mb-50">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="single-post">
                                <div class="single-post-img">
                                    <img src="~/Content/img/blog/6.jpg" alt="" />
                                </div>
                                <div class="single-post-text">
                                    <a href="#"><h3>We Enhance Our New Folorida</h3></a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> Aug 8,2016</a></li>
                                        <li><a href="#"><i class="fa fa-commenting-o"></i> 500</a></li>
                                        <li><a href="#"><i class="fa fa-eye"></i> 1928</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="single-post-right">
                                <a href="#" class="post-category lifestyle"><h3>Lifestyle</h3></a>
                                <a href="#"><h4>We Enhance Our New Folorida</h4></a>
                                <p>Print this page to PDF for the complete set of  your vectors. Or to use on the desktop, intall font in your FontAwesome.otf, set it as the font in your your application, and copy and paste the icons (not the unicode) directly   </p>
                                <a href="#" class="post-top-btn m-0">Continue Read</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-post-item mb-50">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="single-post">
                                <div class="single-post-img">
                                    <img src="~/Content/img/blog/2.jpg" alt="" />
                                </div>
                                <div class="single-post-text">
                                    <a href="#"><h3>We Enhance Our New Folorida</h3></a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> Aug 8,2016</a></li>
                                        <li><a href="#"><i class="fa fa-commenting-o"></i> 500</a></li>
                                        <li><a href="#"><i class="fa fa-eye"></i> 1928</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="single-post-right">
                                <a href="#" class="post-category lifestyle"><h3>Lifestyle</h3></a>
                                <a href="#"><h4>We Enhance Our New Folorida</h4></a>
                                <p>Print this page to PDF for the complete set of  your vectors. Or to use on the desktop, intall font in your FontAwesome.otf, set it as the font in your your application, and copy and paste the icons (not the unicode)  </p>
                                <a href="#" class="post-top-btn m-0">Continue Read</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-post-item mb-50">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="single-post">
                                <div class="single-post-img">
                                    <img src="~/Content/img/blog/9.jpg" alt="" />
                                </div>
                                <div class="single-post-text">
                                    <a href="#"><h3>We Enhance Our New Folorida</h3></a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> Aug 8,2016</a></li>
                                        <li><a href="#"><i class="fa fa-commenting-o"></i> 500</a></li>
                                        <li><a href="#"><i class="fa fa-eye"></i> 1928</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="single-post-right">
                                <a href="#" class="post-category lifestyle"><h3>Lifestyle</h3></a>
                                <a href="#"><h4>We Enhance Our New Folorida</h4></a>
                                <p>Print this page to PDF for the complete set of  your vectors. Or to use on the desktop, intall font in your FontAwesome.otf, set it as the font in your your application, and copy and paste the icons (not the unicode)  </p>
                                <a href="#" class="post-top-btn m-0">Continue Read</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-post-item mb-50">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="single-post">
                                <div class="single-post-img">
                                    <img src="~/Content/img/blog/8.jpg" alt="" />
                                </div>
                                <div class="single-post-text">
                                    <a href="#"><h3>We Enhance Our New Folorida</h3></a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> Aug 8,2016</a></li>
                                        <li><a href="#"><i class="fa fa-commenting-o"></i> 500</a></li>
                                        <li><a href="#"><i class="fa fa-eye"></i> 1928</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="single-post-right">
                                <a href="#" class="post-category lifestyle"><h3>Lifestyle</h3></a>
                                <a href="#"><h4>We Enhance Our New Folorida</h4></a>
                                <p>Print this page to PDF for the complete set of  your vectors. Or to use on the desktop, intall font in your FontAwesome.otf, set it as the font in your your application, and copy and paste the icons (not the unicode)  </p>
                                <a href="#" class="post-top-btn m-0">Continue Read</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-post-item mb-50">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="single-post">
                                <div class="single-post-img">
                                    <img src="~/Content/img/blog/7.jpg" alt="" />
                                </div>
                                <div class="single-post-text">
                                    <a href="#"><h3>We Enhance Our New Folorida</h3></a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> Aug 8,2016</a></li>
                                        <li><a href="#"><i class="fa fa-commenting-o"></i> 500</a></li>
                                        <li><a href="#"><i class="fa fa-eye"></i> 1928</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="single-post-right">
                                <a href="#" class="post-category lifestyle"><h3>Lifestyle</h3></a>
                                <a href="#"><h4>We Enhance Our New Folorida</h4></a>
                                <p>Print this page to PDF for the complete set of  your vectors. Or to use on the desktop, intall font in your FontAwesome.otf, set it as the font in your your application, and copy and paste the icons (not the unicode)  </p>
                                <a href="#" class="post-top-btn m-0">Continue Read</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="sidebar-area-lifestyle">
                 
                <div class="sidebar-widget mb-50">
                    <div class="widget-title text-center">
                        <h4 class="title mb-30">Latest News</h4>
                    </div>
                    <ul class="sidebar-tab mb-30">
                        <li class="active"><a href="#home" data-toggle="tab">Post</a></li>
                        <li><a href="#profile" data-toggle="tab">comments</a></li>
                    </ul>
                    <div class="tab-content fade in">
                        <div class="tab-pane active" id="home">
                            <ul class="thumb-list">
                                <li class="mb-30">
                                    <div class="thumb-img">
                                        <a href="#"><img src="~/Content/img/sidebar/ins/3.jpg" alt="" /></a>
                                    </div>
                                    <div class="thumb-text">
                                        <a href="#"><h4>Architecture blog post</h4></a>
                                        <span>2017-05-20 17:05:22</span>
                                    </div>
                                </li>
                                <li class="mb-30">
                                    <div class="thumb-img">
                                        <a href="#"><img src="~/Content/img/sidebar/ins/4.jpg" alt="" /></a>
                                    </div>
                                    <div class="thumb-text">
                                        <a href="#"><h4>Splashing pixels on the</h4></a>
                                        <span>2017-05-20 17:05:22</span>
                                    </div>
                                </li>
                                <li class="mb-30">
                                    <div class="thumb-img">
                                        <a href="#"><img src="~/Content/img/sidebar/ins/2.jpg" alt="" /></a>
                                    </div>
                                    <div class="thumb-text">
                                        <a href="#"><h4>Hello world!</h4></a>
                                        <span>2017-05-20 17:05:22</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb-img">
                                        <a href="#"><img src="~/Content/img/sidebar/ins/1.jpg" alt="" /></a>
                                    </div>
                                    <div class="thumb-text">
                                        <a href="#"><h4>Architecture blog post</h4></a>
                                        <span>2017-05-20 17:05:22</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade in" id="profile">
                            <ul class="thumb-list">
                                <li class="mb-30">
                                    <div class="thumb-img">
                                        <a href="#"><img src="~/Content/img/sidebar/ins/1.jpg" alt="" /></a>
                                    </div>
                                    <div class="thumb-text">
                                        <a href="#"><h4>Architecture blog post</h4></a>
                                        <span>2017-05-20 17:05:22</span>
                                    </div>
                                </li>
                                <li class="mb-30">
                                    <div class="thumb-img">
                                        <a href="#"><img src="img/sidebar/ins/8.jpg" alt="" /></a>
                                    </div>
                                    <div class="thumb-text">
                                        <a href="#"><h4>Splashing pixels on the</h4></a>
                                        <span>2017-05-20 17:05:22</span>
                                    </div>
                                </li>
                                <li class="mb-30">
                                    <div class="thumb-img">
                                        <a href="#"><img src="~/Content/img/sidebar/ins/3.jpg" alt="" /></a>
                                    </div>
                                    <div class="thumb-text">
                                        <a href="#"><h4>Hello world!</h4></a>
                                        <span>2017-05-20 17:05:22</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb-img">
                                        <a href="#"><img src="~/Content/img/sidebar/ins/7.jpg" alt="" /></a>
                                    </div>
                                    <div class="thumb-text">
                                        <a href="#"><h4>Architecture blog post</h4></a>
                                        <span>2017-05-20 17:05:22</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                
                <div class="sidebar-widget">
                    <div class="widget-title text-center">
                        <h4 class="title mb-30">Categories</h4>
                    </div>
                    <select class="form-control sidebar-select">
                        <option value="catgory">Select Category</option>
                        <option value="lifestyle">Lifestyle</option>
                        <option value="music">Music</option>
                        <option value="travels">Travels</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>