@using Entity.ViewModels
@model RecoverPasswordViewModel

<style>
    .account-box {
        border: 2px solid rgba(153, 153, 153, 0.75);
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -khtml-border-radius: 2px;
        -o-border-radius: 2px;
        z-index: 3;
        font-size: 13px !important;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        background-color: #ffffff;
        padding: 20px;
    }

    .logo {
        width: 138px;
        height: 30px;
        text-align: center;
        margin: 10px 0px 27px 40px;
        background-position: 0px -4px;
        position: relative;
    }

    .forgotLnk {
        margin-top: 10px;
        display: block;
    }

    .purple-bg {
        background-color: #6E329D;
        color: #fff;
    }

    .or-box {
        position: relative;
        border-top: 1px solid #dfdfdf;
        padding-top: 20px;
        margin-top: 20px;
    }

    .or {
        color: #666666;
        background-color: #ffffff;
        position: absolute;
        text-align: center;
        top: -8px;
        width: 40px;
        left: 90px;
    }

    .account-box .btn:hover {
        color: #fff;
    }

    .btn-facebook {
        background-color: #3F639E;
        color: #fff;
        font-weight: bold;
    }

    .btn-google {
        background-color: #454545;
        color: #fff;
        font-weight: bold;
    }

    .tum {
        height: 100px;
    }
</style>

<div class="tum">

</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-4">
            <div class="account-box">
                <div class="logo ">
                    <h4>Şifremi Unuttum</h4>
                </div>
                @if (ViewBag.b != null)
                {
                    <div class="alert alert-success">@ViewBag.b</div>
                }


                @if (ViewBag.a != null)
                {
                    <div class="alert alert-danger">@ViewBag.a</div>
                }
                @using (Html.BeginForm("RecoverPassword", "Members", FormMethod.Post, new
            {
                @class = "form-signin",
                @role = "form",
                @id = "login-nav"
            }))
            {
                    <div class="form-group">
                        @Html.LabelFor(x => x.Email, new { @class = "form-control" })
                        @Html.TextBoxFor(x => x.Email, new { @placeholder ="EMail Adresiniz",type ="email", @required ="required", @class ="form-control" })
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-block btn-success">Şifremi Yolla</button>
                    </div> }
            </div>
        </div>
    </div>
</div>

<div class="tum">

</div>
