 @{ Layout = null;}
<section class="about text-center" id="about">
    <div class="container">
        <div class="row">
            <h2>about us</h2>
            <h4>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</h4>
            <div class="col-md-4 col-sm-6">
                <div class="single-about-detail clearfix">
                    <div class="about-img">
                        <img class="img-responsive" src="/Content/img/item1.jpg" alt="">
                    </div>
                    <div class="about-details">
                        <div class="pentagon-text">
                            <h1>C</h1>
                        </div>
                        <h3>Children’s specialist</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-about-detail">
                    <div class="about-img">
                        <img class="img-responsive" src="/Content/img/item2.jpg" alt="">
                    </div>
                    <div class="about-details">
                        <div class="pentagon-text">
                            <h1>W</h1>
                        </div>
                        <h3>Children’s specialist</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-about-detail">
                    <div class="about-img">
                        <img class="img-responsive" src="/Content/img/item3.jpg" alt="">
                    </div>
                    <div class="about-details">
                        <div class="pentagon-text">
                            <h1>M</h1>
                        </div>
                        <h3>Children’s specialist</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 
