

@section CSS{



    <link href="~/Content/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/assets/owl.theme.default.min.css" rel="stylesheet" />
}
@section scripts{

    <script src="~/Content/owl.carousel.min.js"></script>

    <script>
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items: 1,
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true
        });
    </script>


}
<div class="container">

    <div class="owl-carousel owl-theme">
        <div class="item">
            <img style="width:1000px;height:800px" src="~/Uploads/Sliders/large/866d4f1a-9f58-402a-80b4-d0ffd45335eb-original.png" />

        </div>
        <div class="item">
            <img style="width:1000px;height:800px" src="~/Uploads/Sliders/large/dicle.jpg" />

        </div>
    </div>

</div>